.container{
  margin: 10%;
  border: 2px solid black;
  padding: 0 10px 10px;
  display: inline-block;
  background-color: lightgrey;
}

ul{
  font-size: small;
}

a{
  text-decoration: none;
}

li{
  margin-bottom: 5px;
}

button {
  margin: 0 auto;
  display: block;
}